In [126]:
import pandas as pd
import numpy as np
df = pd.read_csv ('final_output.csv')
print(df)

      Unnamed: 0  TransactionDT_observed  TransactionAmt_observed  \
0              0              12627443.0                    8.976
1              1               8083576.0                  504.950
2              2              11928366.0                  445.000
3              3               7921384.0                   33.950
4              4              13456600.0                  102.000
...          ...                     ...                      ...
4995        4995               9088335.0                   13.655
4996        4996               1743984.0                   34.514
4997        4997               8975348.0                  117.000
4998        4998              15384752.0                  159.000
4999        4999               5609242.0                  146.000

     P_emaildomain_observed R_emaildomain_observed card4_observed  \
0                icloud.com             icloud.com           visa
1                 gmail.com                    NaN     mastercard
2                 gmail.com                    NaN     mastercard
3                 yahoo.com                    NaN     mastercard
4                 gmail.com                    NaN     mastercard
...                     ...                    ...            ...
4995              gmail.com              gmail.com           visa
4996            hotmail.com            hotmail.com           visa
4997              gmail.com                    NaN           visa
4998              gmail.com                    NaN           visa
4999            netzero.net                    NaN           visa

     card6_observed  dist1_observed  addr1_observed DeviceType_observed  \
0             debit            -1.0            -1.0              mobile
1             debit            -1.0           184.0                 NaN
2             debit            22.0           272.0                 NaN
3             debit             0.0           204.0                 NaN
4             debit            -1.0           315.0                 NaN
...             ...             ...             ...                 ...
4995         credit            -1.0            -1.0              mobile
4996          debit            -1.0            -1.0             desktop
4997          debit            12.0           476.0                 NaN
4998          debit          1935.0           299.0                 NaN
4999          debit             0.0           126.0                 NaN

      class_prob_observed  TransactionDT_attribution  \
0                0.114836                   0.019478
1                0.526729                   0.159375
2                0.508997                   0.006694
3                0.512781                   0.103480
4                0.546591                   0.041709
...                   ...                        ...
4995             0.282642                   0.035172
4996             0.220871                   0.047745
4997             0.530920                   0.109599
4998             0.434917                   0.004768
4999             0.520452                   0.116473

      TransactionAmt_attribution  P_emaildomain_attribution  \
0                       0.000164                   0.002163
1                       0.058735                   0.003834
2                       0.018746                   0.000000
3                       0.004028                   0.067991
4                       0.125043                   0.000000
...                          ...                        ...
4995                    0.001265                   0.000000
4996                    0.007413                   0.000463
4997                    0.000000                   0.000000
4998                    0.000589                   0.061885
4999                    0.004922                   0.007725

      R_emaildomain_attribution  card4_attribution  card6_attribution  \
0                      0.008141           0.000000           0.000000
1                      0.000000           0.154663           0.000000
2                      0.000000           0.090888           0.000000
3                      0.000000           0.000000           0.000000
4                      0.000000           0.000000           0.000000
...                         ...                ...                ...
4995                   0.000000           0.008914           0.005687
4996                   0.017348           0.000000           0.000000
4997                   0.000000           0.000000           0.000000
4998                   0.000000           0.000000           0.000000
4999                   0.000000           0.000000           0.000000

      dist1_attribution  addr1_attribution  DeviceType_attribution
0              0.000000           0.002422                0.007777
1              0.000000           0.029161                0.000000
2              0.001295           0.037392                0.000000
3              0.001865           0.004901                0.000000
4              0.000000           0.000000                0.000000
...                 ...                ...                     ...
4995           0.000000           0.000000                0.000271
4996           0.000000           0.015037                0.003578
4997           0.000000           0.000000                0.000000
4998           0.411625           0.004512                0.000000
4999           0.000086           0.016977                0.000000

[5000 rows x 20 columns]

# Processing of card_6_observed column to find # of anomalies depending on the threshold set (credit vs. debit)

In [149]:
# Processing of card_6_observed column to find # of anomalies depending on the threshold set (credit vs. debit)
card6_data = []
for i in range(10):
    thisdict = {"credit":0,"debit":0}
    for index, row in df.iterrows():
        if (1-row['class_prob_observed']>float ("."+str(i))):
            if (row['card6_observed']=="credit"):
                thisdict["credit"]+=1
            else:
                thisdict["debit"]+=1
    card6_data.append(thisdict)
print(card6_data)

[{'credit': 1301, 'debit': 3699}, {'credit': 1301, 'debit': 3699}, {'credit': 1301, 'debit': 3699}, {'credit': 1301, 'debit': 3699}, {'credit': 1301, 'debit': 3699}, {'credit': 947, 'debit': 1558}, {'credit': 744, 'debit': 822}, {'credit': 685, 'debit': 652}, {'credit': 574, 'debit': 414}, {'credit': 475, 'debit': 289}]

In [162]:
thisdict = {"credit":0,"debit":0}
for index, row in df.iterrows():
    if (1-row['class_prob_observed']>0.9):
        if (row['card6_observed']=="credit"):
            thisdict["credit"]+=1
        else:
            thisdict["debit"]+=1
print(thisdict)

{'credit': 475, 'debit': 289}

# Processing of card_4_observed column to find # of anomalies depending on the threshold set (visa vs mastercard vs discover vs nan vs american express)

In [150]:
# Processing of card_4_observed column to find # of anomalies depending on the threshold set (visa vs mastercard vs discover vs nan vs american express)

card4_data = []
for i in range(10):
    thisdict = {"visa":0,"mastercard":0,"discover":0,"nan":0,'american express':0}
    for index, row in df.iterrows():
        if (1-row['class_prob_observed']>float ("."+str(i))):
            if (row['card4_observed']=="visa"):
                thisdict["visa"]+=1
            if (row['card4_observed']=="mastercard"):
                thisdict["mastercard"]+=1
            if (row['card4_observed']=="discover"):
                thisdict["discover"]+=1
            if (row['card4_observed']=="american express"):
                thisdict["american express"]+=1
            else:
                thisdict["nan"]+=1
    card4_data.append(thisdict)
print(card4_data)

[{'visa': 3254, 'mastercard': 1593, 'discover': 61, 'nan': 4914, 'american express': 86}, {'visa': 3254, 'mastercard': 1593, 'discover': 61, 'nan': 4914, 'american express': 86}, {'visa': 3254, 'mastercard': 1593, 'discover': 61, 'nan': 4914, 'american express': 86}, {'visa': 3254, 'mastercard': 1593, 'discover': 61, 'nan': 4914, 'american express': 86}, {'visa': 3254, 'mastercard': 1593, 'discover': 61, 'nan': 4914, 'american express': 86}, {'visa': 1550, 'mastercard': 816, 'discover': 47, 'nan': 2419, 'american express': 86}, {'visa': 960, 'mastercard': 488, 'discover': 30, 'nan': 1480, 'american express': 86}, {'visa': 813, 'mastercard': 410, 'discover': 26, 'nan': 1251, 'american express': 86}, {'visa': 597, 'mastercard': 283, 'discover': 22, 'nan': 903, 'american express': 85}, {'visa': 475, 'mastercard': 195, 'discover': 18, 'nan': 689, 'american express': 75}]

In [165]:
thisdict = {"visa":0,"mastercard":0,"discover":0,"nan":0,'american express':0}
for index, row in df.iterrows():
    if (1-row['class_prob_observed']>.9):
        if (row['card4_observed']=="visa"):
            thisdict["visa"]+=1
        if (row['card4_observed']=="mastercard"):
            thisdict["mastercard"]+=1
        if (row['card4_observed']=="discover"):
            thisdict["discover"]+=1
        if (row['card4_observed']=="american express"):
            thisdict["american express"]+=1
        else:
            thisdict["nan"]+=1
print(thisdict)

{'visa': 475, 'mastercard': 195, 'discover': 18, 'nan': 689, 'american express': 75}

# Processing of TransactionAmt_observed column to find # of anomalies depending on the threshold set (bucketed into 10 ranges of amounts)

In [156]:
# Processing of TransactionAmt_observed column to find # of anomalies depending on the threshold set (bucketed intp 10 ranges of amounts)

In [178]:
maximum = df["TransactionAmt_observed"].max()
minimum = df["TransactionAmt_observed"].min()
difference = maximum-minimum
jumps = difference/10
print(jumps)
print(maximum)

358.4072
3584.95

In [179]:
amt_data = []
for i in range(10):
    thisdict = {"first":0, "second":0, "third":0,"fourth":0,"fifth":0,"sixth":0,"seventh":0,"eighth":0,"ninth":0,"tenth":0}
    for index, row in df.iterrows():
        if (1-row['class_prob_observed']>float ("."+str(i))):
            if (minimum+jumps>row['TransactionAmt_observed']>minimum):
                thisdict["first"]+=1
            if (minimum+(2*jumps)>row['TransactionAmt_observed']>minimum+jumps):
                thisdict["second"]+=1
            if (minimum+(3*jumps)>row['TransactionAmt_observed']>minimum+(2*jumps)):
                thisdict["third"]+=1
            if (minimum+(4*jumps)>row['TransactionAmt_observed']>minimum+(3*jumps)):
                
                thisdict["fourth"]+=1
            if (minimum+(5*jumps)>row['TransactionAmt_observed']>minimum+(4*jumps)):
       
                thisdict["fifth"]+=1
            if (minimum+(6*jumps)>row['TransactionAmt_observed']>minimum+(5*jumps)):
                
                thisdict["sixth"]+=1
            if (minimum+(7*jumps)>row['TransactionAmt_observed']>minimum+(6*jumps)):
               
                thisdict["seventh"]+=1
            if (minimum+(8*jumps)>row['TransactionAmt_observed']>minimum+(7*jumps)):
      
                thisdict["eighth"]+=1
            if (minimum+(9*jumps)>row['TransactionAmt_observed']>minimum+(8*jumps)):
       
                thisdict["ninth"]+=1
            if (minimum+(10*jumps)>row['TransactionAmt_observed']>minimum+(9*jumps)):
               
                thisdict["tenth"]+=1
#     print(thisdict)
    amt_data.append(thisdict)

In [180]:
amt_data

[{'first': 4669,
  'second': 229,
  'third': 54,
  'fourth': 24,
  'fifth': 9,
  'sixth': 4,
  'seventh': 4,
  'eighth': 2,
  'ninth': 3,
  'tenth': 1},
 {'first': 4669,
  'second': 229,
  'third': 54,
  'fourth': 24,
  'fifth': 9,
  'sixth': 4,
  'seventh': 4,
  'eighth': 2,
  'ninth': 3,
  'tenth': 1},
 {'first': 4669,
  'second': 229,
  'third': 54,
  'fourth': 24,
  'fifth': 9,
  'sixth': 4,
  'seventh': 4,
  'eighth': 2,
  'ninth': 3,
  'tenth': 1},
 {'first': 4669,
  'second': 229,
  'third': 54,
  'fourth': 24,
  'fifth': 9,
  'sixth': 4,
  'seventh': 4,
  'eighth': 2,
  'ninth': 3,
  'tenth': 1},
 {'first': 4669,
  'second': 229,
  'third': 54,
  'fourth': 24,
  'fifth': 9,
  'sixth': 4,
  'seventh': 4,
  'eighth': 2,
  'ninth': 3,
  'tenth': 1},
 {'first': 2351,
  'second': 96,
  'third': 27,
  'fourth': 12,
  'fifth': 4,
  'sixth': 4,
  'seventh': 4,
  'eighth': 2,
  'ninth': 3,
  'tenth': 1},
 {'first': 1503,
  'second': 34,
  'third': 17,
  'fourth': 4,
  'fifth': 1,
  'sixth': 1,
  'seventh': 3,
  'eighth': 0,
  'ninth': 2,
  'tenth': 0},
 {'first': 1292,
  'second': 23,
  'third': 14,
  'fourth': 2,
  'fifth': 1,
  'sixth': 1,
  'seventh': 2,
  'eighth': 0,
  'ninth': 1,
  'tenth': 0},
 {'first': 954,
  'second': 18,
  'third': 12,
  'fourth': 1,
  'fifth': 0,
  'sixth': 1,
  'seventh': 1,
  'eighth': 0,
  'ninth': 0,
  'tenth': 0},
 {'first': 736,
  'second': 15,
  'third': 9,
  'fourth': 1,
  'fifth': 0,
  'sixth': 1,
  'seventh': 1,
  'eighth': 0,
  'ninth': 0,
  'tenth': 0}]

In [182]:
thisdict = {"first":0, "second":0, "third":0,"fourth":0,"fifth":0,"sixth":0,"seventh":0,"eighth":0,"ninth":0,"tenth":0}
for index, row in df.iterrows():
    if (1-row['class_prob_observed']>.9):
        if (minimum+jumps>row['TransactionAmt_observed']>minimum):
            thisdict["first"]+=1
        if (minimum+(2*jumps)>row['TransactionAmt_observed']>minimum+jumps):
            thisdict["second"]+=1
        if (minimum+(3*jumps)>row['TransactionAmt_observed']>minimum+(2*jumps)):
            thisdict["third"]+=1
        if (minimum+(4*jumps)>row['TransactionAmt_observed']>minimum+(3*jumps)):

            thisdict["fourth"]+=1
        if (minimum+(5*jumps)>row['TransactionAmt_observed']>minimum+(4*jumps)):

            thisdict["fifth"]+=1
        if (minimum+(6*jumps)>row['TransactionAmt_observed']>minimum+(5*jumps)):

            thisdict["sixth"]+=1
        if (minimum+(7*jumps)>row['TransactionAmt_observed']>minimum+(6*jumps)):

            thisdict["seventh"]+=1
        if (minimum+(8*jumps)>row['TransactionAmt_observed']>minimum+(7*jumps)):

            thisdict["eighth"]+=1
        if (minimum+(9*jumps)>row['TransactionAmt_observed']>minimum+(8*jumps)):

            thisdict["ninth"]+=1
        if (minimum+(10*jumps)>row['TransactionAmt_observed']>minimum+(9*jumps)):

            thisdict["tenth"]+=1
print(thisdict)

{'first': 736, 'second': 15, 'third': 9, 'fourth': 1, 'fifth': 0, 'sixth': 1, 'seventh': 1, 'eighth': 0, 'ninth': 0, 'tenth': 0}

In [189]:
print(str(minimum)+"-"+str(minimum+jumps))
print(str(minimum+jumps)+"-"+str(minimum+(2*jumps)))
print(str(minimum+(2*jumps))+"-"+str(minimum+(3*jumps)))
print(str(minimum+(3*jumps))+"-"+str(minimum+(4*jumps)))
print(str(minimum+(4*jumps))+"-"+str(minimum+(5*jumps)))
print(str(minimum+(5*jumps))+"-"+str(minimum+(6*jumps)))
print(str(minimum+(6*jumps))+"-"+str(minimum+(7*jumps)))
print(str(minimum+(7*jumps))+"-"+str(minimum+(8*jumps)))
print(str(minimum+(8*jumps))+"-"+str(minimum+(9*jumps)))
print(str(minimum+(9*jumps))+"-"+str(minimum+(10*jumps)))

0.9-359.3

TypeError: str() argument 2 must be str, not int